@charset "utf-8";

@font-face {
			font-family: OpeningNight-BAT;
			src: url(Fonts/OpeningNight.ttf), url(Fonts/OpeningNight.eot);}
			
@font-face{	font-family: Banque-BAT;
			src:url(Fonts/UTM%20BanqueR.ttf), url(Fonts/UTM%20BanqueR.eot);
}
body {
	background-image: url(Stock/url2.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	font-family:Arial;
}
#FRAME, #FRAME_about {
	background:url(images/frame.jpg);
	background-repeat: no-repeat;
	height: 1024px;
	width: 1200px;
	margin: 0px auto;
	position: relative;
	overflow:hidden;
	
}
#FRAME_about{background:url(images/About%20Me/frame_about.jpg) no-repeat;}
#logo_main{position:absolute; background:url(images/logo_main.png) no-repeat; width:262px; height:633px; top: 211px; left: 0px;z-index: 99;}
#dmc{position:absolute; background:url(images/dmc.png) no-repeat; width:479px; height:42px; top: 26px; left: 393px;z-index: 99;}
/*start Menu*/
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background: url(images/menu_08.jpg) no-repeat scroll 0 0 transparent;
    clear: both;
    font-size: 18px;
    height: 68px;
    padding: 0 0 0 9px;
    position: relative;
    width: 1200px;
}
/*#nav li {
    background: url(../images/menu_line.png) no-repeat scroll right 5px transparent;
    float: left;
    position: relative;
}*/
ul#nav li {
	left: 249px;
	position:relative;
	text-align: center;
	z-index:20;
	line-height:32px;
	}
ul#nav li:nth-child(1) a {padding: 15px 82px;}
ul#nav li:nth-child(2) a {padding: 15px 39px;}
ul#nav li:nth-child(3) a {padding: 15px 70px;}
ul#nav li:nth-child(4) a {padding: 15px 69px;}
ul#nav li:nth-child(5) a {padding: 15px 64px;}

#nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: normal;
    height: 30px;
    padding: 23px 20px 0;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#nav li:hover > a {
    color: #ffea00;
}
#nav li.selected a {
	color: #ffea00;
}
#home, #sitemap, #portfolio, #new, #contact {
    background: url(images/menu_highlight.png) no-repeat scroll 0 0 transparent;
    height: 67px;
    position: absolute;
    bottom: 13px;
    width: 181px;

    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ;
    transition: all 300ms ;
}
#home:hover, #sitemap:hover, #portfolio:hover, #new:hover , #new:contact {
    -moz-transition-duration: 3000s;
    -ms-transition-duration: 3000s;
    -o-transition-duration: 3000s;
    -webkit-transition-duration: 3000s;
    transition-duration: 3000s;
}

#home{left: 258px;}
#nav li:nth-of-type(1):hover ~ #home {left: 258px;}
#nav li:nth-of-type(2):hover ~ #home {left: 440px;}
#nav li:nth-of-type(3):hover ~ #home {left: 613px;}
#nav li:nth-of-type(4):hover ~ #home {left: 820px;}
#nav li:nth-of-type(5):hover ~ #home {left: 1017px;}

#portfolio{left:613px;}
#nav li:nth-of-type(1):hover ~ #portfolio {left: 258px;}
#nav li:nth-of-type(2):hover ~ #portfolio {left: 440px;}
#nav li:nth-of-type(3):hover ~ #portfolio {left: 613px;}
#nav li:nth-of-type(4):hover ~ #portfolio {left: 820px;}
#nav li:nth-of-type(5):hover ~ #portfolio {left: 1017px;}

#sitemap {left: 0px; opacity:0;}
#nav li:nth-of-type(1):hover ~ #sitemap {left: 258px;opacity:1;}
#nav li:nth-of-type(2):hover ~ #sitemap {left: 440px;opacity:1;}
#nav li:nth-of-type(3):hover ~ #sitemap {left: 613px;opacity:1;}
#nav li:nth-of-type(4):hover ~ #sitemap {left: 820px;opacity:1;}
#nav li:nth-of-type(5):hover ~ #sitemap {left: 1017px;opacity:1;}

#new {left: 440px;}
#nav li:nth-of-type(1):hover ~ #new {left: 258px;opacity:1;}
#nav li:nth-of-type(2):hover ~ #new {left: 440px;opacity:1;}
#nav li:nth-of-type(3):hover ~ #new {left: 613px;opacity:1;}
#nav li:nth-of-type(4):hover ~ #new {left: 820px;opacity:1;}
#nav li:nth-of-type(5):hover ~ #new {left: 1017px;opacity:1;}

#contact {left: 820px;}
#nav li:nth-of-type(1):hover ~ #contact {left: 258px;opacity:1;}
#nav li:nth-of-type(2):hover ~ #contact {left: 440px;opacity:1;}
#nav li:nth-of-type(3):hover ~ #contact {left: 613px;opacity:1;}
#nav li:nth-of-type(4):hover ~ #contact {left: 820px;opacity:1;}
#nav li:nth-of-type(5):hover ~ #contact {left: 1017px;opacity:1;}

@-webkit-keyframes slide_menu { 
    0% { opacity: 0; left:1200px;} 
    100% {opacity: 1; left:0px;} 
	} 
.slide_menu { 
	-moz-animation: slide_menu 1.5s ease-in-out forwards; 
	-ms-animation: slide_menu 1.5s ease-in-out forwards;
	-o-animation: slide_menu 1.5s ease-in-out forwards;
	-webkit-animation: slide_menu 1.5s ease-in-out forwards;
	animation: slide_menu 1.5s ease-in-out forwards;
}
/*end MENU*/
/*------------CSS HOME----------------*/

/*------------CSS HEAD----------------*/

#HEAD {
	height: 319px;
	width: 1200px;
	position: relative;
	padding-left: 0px;
}

#Logo {
	background-image: url(images/Logo_18.jpg);
	background-repeat: no-repeat;
	position: absolute;
	height: 163px;
	width: 205px;
	left: 20px;
	top: 21px;
}
#Search {
	background-image: url(images/Logo_35.jpg);
	background-repeat: no-repeat;
	position: absolute;
	height: 41px;
	width: 338px;
	left: 241px;
	top: 143px;
}
#Twitter {
	background-image: url(images/Logo_37.jpg);
	background-repeat: no-repeat;
	position: absolute;
	height: 41px;
	width: 43px;
	left: 589px;
	top: 143px;
}
#Google {
	background-image: url(images/Logo_39.jpg);
	background-repeat: no-repeat;
	position: absolute;
	height: 41px;
	width: 42px;
	left: 642px;
	top: 143px;
}
#Facebook {
	background-image: url(images/Logo_41.jpg);
	background-repeat: no-repeat;
	position: absolute;
	height: 41px;
	width: 41px;
	left: 696px;
	top: 143px;
}
#BHead {
	/*background-image: url(images/Head_01.jpg);*/
	background-repeat: no-repeat;
	position: absolute;
	height: 209px;
	width: 1200px;
}
/*------------CSS MENU----------------*/
#MENU{
	position:relative;
	width:1200px;
	height:68px;
	/* background:#966; */
	}
#CMenu {
	position: absolute;
	height: 488px;
	width: 207px;
	left: 19px;
	top: 24px;
	float:left;
}
.over {float:left;
}

/*------------CSS CONTENT----------------*/

#CONTENT {
	position: relative;
	height: 607px;
	width: 1200px;
	right: 0px;
	/* top:209px; */
}

#ImageL {
	position: absolute;
	height: 252px;
	width: 479px;
	left: 561px;
	top: 44px;
}
#ImageS1 {
	position: absolute;
	height: 93px;
	width: 399px;
	left: 584px;
	bottom: 198px;
	z-index:10;
}
#ImageS2 {
	position: absolute;
	height: 93px;
	width: 399px;
	left: 584px;
	bottom: 198px;
	z-index:9;
}
.distant {
	padding-left: 6px;
}
.distant_S2 {
	margin-left: 6px;
}

#Tittle1 {
	position: absolute;
	height: 43px;
	width: 405px;
	left: 237px;
	bottom: 174px;
	z-index:11;
}
#Tittle2 {
	position: absolute;
	height: 43px;
	width: 405px;
	left: 237px;
	bottom: 174px;
	z-index:9;
}
#Tittle3 {
	position: absolute;
	height: 43px;
	width: 405px;
	left: 237px;
	bottom: 174px;
	z-index:9;
}
#Tittle4 {
	position: absolute;
	height: 43px;
	width: 479px;
	left: 201px;
	bottom: 174px;
	z-index:10;
}
#Tittle5 {
	position: absolute;
	height: 43px;
	width: 479px;
	left: 201px;
	bottom: 174px;
	z-index:10;
}
#Tittle6 {
	position: absolute;
	height: 43px;
	width: 479px;
	left: 201px;
	bottom: 174px;
	z-index:10;
}
#Arrow1 {
	background-repeat: no-repeat;
	position: absolute;
	height: 26px;
	width: 26px;
	left: 549px;
	bottom: 235px;
}
#Arrow2 {
	background-repeat: no-repeat;
	position: absolute;
	height: 25px;
	width: 26px;
	left: 985px;
	bottom: 235px;
}
#BText1 {
	font-family:OpeningNight-BAT;
	background-image: url(images/BText_65.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 304px;
	width: 389px;
	top: 24px;
	right: 30px;
	color: #FFFFFF;
	font-size: 19px;
	text-align: justify;
}
#BText2 {
	font-family:OpeningNight-BAT;
	background-image: url(images/BText_87.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 158px;
	width: 389px;
	right: 30px;




	bottom: 24px;

	color: #fea051;
	font-size: 19px;
	text-align: justify;
}
#CText1 {
	position: absolute;
	color:#fea051;
	height: 265px;
	width: 332px;
	top: 7px;
	left: 26px;
	bottom: 16px;
}
#CText2 {
	position: absolute;
	height: 124px;
	width: 332px;
	left: 26px;
	top: 16px;
	bottom: 16px;
	font-size: 19px;
}

/*------------CSS FOOTER----------------*/


#FOOTER {
	position: relative;
	width: 1200px;
	text-align: center;
	font-size: 12px;
	color:#FFFFFF;
}
#foot {
	background-repeat: repeat-x;
	position: absolute; 
	width: 1200px;
	top: 10px;
}

/*------------CSS ABOUT ME----------------*/
#Character {
	position: absolute;
	height: 141px;
	width: 481px;
	left: 18px;
	top: 24px;
	float:left;
}
#C1, #C2 {float:left;}

#Statistic {
	position: absolute;
	height: 281px;
	width: 481px;
	left: 18px;
	top: 202px;
}

#Experience {
	position: absolute;
	height: 178px;
	width: 457px;
	top: 24px;
	right: 20px;
}
#Skills {
	position: absolute;
	height: 311px;
	width: 457px;
	right: 20px;
	bottom: 22px;
}

/*------------CSS PORTFOLIO----------------*/
.bg_port{background:url(images/Porfolio/New%20Image/cont_contact.jpg) no-repeat; width:1200px; height:600px; position:absolute;}
#Head_P {
	position: absolute;
	height: 122px;
	width: 955px;
	top: 24px;
}
#Body_P {
	position: absolute;
	height: 262px;
	width: 955px;
	top: 156px;
	float:left;
	left: 185px;
}

#Foot_P {
	position: absolute;
	height: 127px;
	width: 955px;
	top: 408px;
	left: 203px;
	color: #f79f54;
	
}
#Tittle_P {
	position:absolute;
	font-size: 30px;
	height: 47px;
	width: 551px;
	right: -12px;
	top: 85px;
	text-align: center;
	color: #f79f54;
}
#T_G {
	font-size: 30px;
	position: absolute;
	height: 37px;
	width: 156px;
	right: 700px;
	top: 35px;
	text-align: center;
}
#T_L {
	font-size: 30px;
	position: absolute;
	height: 37px;
	width: 156px;
	right: 390px;
	top: 35px;
	text-align: center;
}
#T_W {
	font-size: 30px;
	position: absolute;
	height: 37px;
	width: 156px;
	right: 76px;
	top: 35px;
	text-align: center;
}


/*------------CSS CONTACT----------------*/

#Pic_C {
	position: absolute;
	height: 323px;
	width: 528px;
	top: 24px;
}
#Info_C {
	position: absolute;
	height: 166px;
	width: 528px;
	left: 0px;
	bottom: 22px;
}
#bgTable {
	background: url(images/Contact/Contact_07.jpg);
	position: absolute;
	height: 489px;
	width: 427px;
	top: 24px;
	right: 20px;
	color: #FFFFFF;
}
#Table_Area {
	font-family:Arial;
	position: absolute;
	height: 450px;
	width: 389px;
	top: 110px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	font-size: 20px;
	color:#f79f54;
}
.survey {
	text-align: center;

}
.distant_table {
}
.text-distant {
	border-radius: 5px;
	width: 250px;
}

.borde-radius {
	border-radius: 5px;
	width: 250px;
	height: 100px;
}
.submit-reset-style {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	color: #f79f54;
	background-color: #FFFFFF;
	font-family: Arial;
	font-size: 17px;
	margin-top: 15px;
}
/*------------CSS GRAPHIC----------------*/

#GFRAME {
	background: url(images/frame.jpg) no-repeat;
	background-repeat: no-repeat;
	height:1040px;
	width: 1200px;
	margin: 0px auto;
	position: relative;
	overflow:hidden;
}
#GCONTENT {
	position: absolute;
	height: 790px;
	width: 976px;
	left:225px;
	top:209px;
}
#GFOOTER {
	position: absolute;
	height: 57px;
	width: 1200px;
	top: 1000px;
	text-align: center;
	line-height: 55px;
	font-family: OpeningNight-BAT;
	font-size: 16px;
	color:#FFFFFF;

}#FrameG {
	position: absolute;
	height: 543px;
	width: 944px;
	left: 3px;
	top: 191px;
	overflow:scroll;
}
.distant_G1 {
	margin-left: 19px;


}
.distant_G2 {
	padding-left: 19px;
	padding-top: 20px;
}
#BACK_G {
	font-size: 18px;
	position: absolute;
	height: 31px;
	width: 80px;
	right: 28px;
	bottom: 12px;
	background:url(images/back.png) no-repeat;
}
#Text_G {
	position: absolute;
	bottom: 3px;
	left: 0px;
	width: 800px;
	height: 40px;
	font-family: Arial;
	color: #f79f54;
	font-size: 20px;
}

/*------------CSS WEBSITE----------------*/
#Tittle_W {
	position: absolute;
	height: 466px;
	width: 744px;
	left: 110px;
	top: 46px;
}
#BACK_W {
	font-size: 18px;
	position: absolute;
	height: 31px;
	width: 80px;
	right: 72px;
	bottom: 42px;
	background:url(images/back.png) no-repeat;
}



/*------------CSS LOGO----------------*/

/*#LFRAME {
	
	background-repeat: no-repeat;
	height:1000px;
	width: 1200px;
	margin: 0px auto;
	position: relative;
}*/
#LCONTENT {
	position: absolute;
	height: 735px;
	width: 976px;
	left: 225px;
	top: 211px;
}
#LFOOTER {
	position: absolute;
	height: 57px;
	width: 1200px;

	top: 945px;
	text-align: center;
	line-height: 55px;
	font-family: OpeningNight-BAT;
	font-size: 16px;
	color:#FFFFFF;
}

#LARGE {
	position: absolute;
	height: 481px;
	width: 568px;
	left: 480px;
	top: 136px;
}
#THUMB_L1 {
	position: absolute;
	height: 152px;
	width: 180px;
	left: 274px;
	bottom: 318px;
}
#THUMB_L2 {
	position: absolute;
	height: 152px;
	width: 179px;
	left: 274px;
	bottom: 84px;
}

#Color_L1 {
	position: absolute;
	height: 481px;
	width: 90px;
	top: 137px;
	right: 166px;
	z-index: 10;
}
#Color_L2 {
	position: absolute;
	height: 481px;
	width: 90px;
	top: 137px;
	right: 166px;
	z-index: 9;
}
.distant_CL1 {
	margin-bottom: 0px;
	padding-top: 45px;
	padding-bottom: 45px;
}
#Text_L {
	position: absolute;
	height: 481px;
	width: 146px;
	top: 42px;
	right: 20px;
}
#Description_01, #Description_02, #Description_03 {
	position: absolute;
	top: 160px;
	right: 20px;
	height: 80px;
	width: 140px;
	font-size: 15px;
	color: #fea051;
}
#Description_02 {	
	top: 297px;
}
#Description_03 {
	top: 424px;
}

#BACK_L {
	font-size: 18px;
	position: absolute;
	height: 31px;
	width: 80px;
	right: 72px;
	bottom: 42px;
	background:url(images/back.png) no-repeat;
}
a:link {
	color: #CD6A7C;
	text-decoration: none;
	}
a:hover {
	color: #7B6CB0;
	text-decoration: none;
	}
a:visited {
	color: #FF0000;
	text-decoration: none;
	}
a:active {
	color: #cd6a7c;
	text-decoration: none;
	}
	
/*------------CSS MEDIA CAREER----------------*/

#Media {
	position: absolute;
	height: 400px;
	width: 600px;
	left: 42px;
	top: 42px;
}
#Image_M { position:absolute;
		   width: 150px;
		   height: 400px;
		   right:42px;
		   top: 42px;
}
.M_distant {
	padding-top: 8px;
}
#Text_Media {
	position: absolute;
	height: 42px;
	width: 600px;
	bottom: 24px;
	left: 42px;
	font-family: OpeningNight-BAT;
	font-size: 18px;
	color: #CD6A7C;
}
#BACK_M {
	position: absolute;
	height: 40px;
	width: 50px;
	right: 42px;
	bottom: 26px;
	font-family: OpeningNight-BAT;
	
}

/*------------CSS ADVERTISING----------------*/

#ImageA_L {
	position: absolute;
	height: 499px;
	width: 939px;
	left: 17px;
	top: 24px;
}
#Thumbs_A {
	position: absolute;
	height: 130px;
	width: 939px;
	left: 17px;
	bottom: 70px;
	float:left;
}
#A1, #A2, #A3, #A4, #A5 {float:left;}
.distant_A {
	padding-left: 11px;

}
#BACK_A {
	position: absolute;
	height: 40px;
	width: 50px;
	right: 20px;
	bottom: 55px;
	font-family: OpeningNight-BAT;
	font-size: 16px;
}
#Text_A {
	position: absolute;
	bottom: 5px;
	left: 17px;
	width: 800px;
	height: 40px;
	font-family: OpeningNight-BAT;
	color: #CD6A7C;
	font-size: 18px;
}

/*------------CSS SITEMAP----------------*/

#Sitemap_frame {
	position: absolute;
	height: 446px;
	width: 888px;
	left: 40px;
	top: 40px;
}
